body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
}
li {
    float: left;
    border-right: 1px solid #bbbbbb;
}
li:last-child {
    border-right: none;
    border-left:  1px solid #bbbbbb;
}
li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    background-color: #dddddd;
    text-shadow: 2px 2px;
    color: #666666;
    text-shadow: none;
}
li a.active {
    color: white;
    background-color: #4CAF50;
    text-shadow: none;
}